@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Heuristic Solutions Dev Eval</h1>
	<p class="lead">
		Welcome, and thanks for your interest in a position with Heuristic Solutions!
	</p>
	<p>
		This evaluation helps us assess your ability to perform different types of web development tasks. 
		Although simplified, this is not unlike a "real" assignment you'd do as a developer on our team.
	</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" role="button" href="/Home/Setup">Initial Setup</a>
		<a class="btn btn-primary btn-lg" role="button" href="/Home/Requirements">View Requirements</a>
	</p>
	<br />
	<div class="panel panel-primary">
		<div class="panel-heading">A note about this evaluation</div>
		<div class="panel-body">
			<b>This evaluation does not use our "real" tech stack! </b>
			We designed this to be simple to use and understand, not to use the latest and greatest tech.
			<br /><br />
			Technologies used in this assessment include:<br/>
			<ul>
				<li><a href="https://learn.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/getting-started" target="_blank">ASP.NET MVC</a> for the UI layer</li>
				<li><a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application" target="_blank">Entity Framework</a> as the ORM and database interface</li>
				<li><a href="https://learn.jquery.com/" target="_blank">jQuery</a> for client-side enhancement</li>
			</ul>
			<br />
			<b>To learn about our REAL tech stack</b>, please see <a href="https://heuristicsolutions.atlassian.net/wiki/spaces/DEVPUB/pages/95387649/LearningBuilder+Development+Experience" target="_blank">LearningBuilder Development Experience</a>.
		</div>
	</div>
</div>

